:root{
    color-scheme: light dark;
    --text-color: light-dark(rgb(24, 24, 24), white);
    --background-color: light-dark(rgb(243, 243, 243), rgb(31, 31, 31));
    --input-color: light-dark(rgb(218, 218, 218), rgb(53, 53, 53));
    --input-hover-color: light-dark(rgb(209, 209, 209), rgb(70, 70, 70));
    --button-active-color: light-dark(rgb(199, 199, 199), rgb(97, 97, 97));
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    animation-name: title-falling-anim;
    animation-duration: 1s;
}

button{
    cursor: pointer;
}

.colour-input-container{
    animation-name: input-container-falling-anim;
    animation-duration: 1s;

    & label{
        font-size: 0.9em;
    }

    & div{
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;

        & input{
            cursor: pointer;
            padding: 0.2rem 0.5rem;
            font-size: 1em;
            border: none;
            background-color: var(--input-color);
            border-radius: 2.5px;
            transition: 0.1s;
            width: 15rem;
            
            &:hover{ background-color: var(--input-hover-color); }
            &:focus{
                outline: none;
                background-color: var(--button-active-color);
            }
        }

        & button{
            border: none;
            border-radius: 2.5px;
            background-color: var(--input-color);
            font-size: 1em;
            font-weight: bold;
            padding: 0.2rem 0.9rem;
            transition: 0.1s;

            &:hover{ background-color: var(--input-hover-color); }
            &:active{ background-color: var(--button-active-color); }
        }
    }
}

.result-container{
    display: flex;
    justify-content: center;

    & .message-text{
        animation-name: rising-anim;
        animation-duration: 1s;
        max-width: 10rem;
        text-align: center;
        font-size: 0.9em;
        padding-top: 4rem;
    }

    & .error-message{
        color: red;
    }

    & h2{
        text-align: center;
        padding: 2rem;
        animation-name: rising-anim;
        animation-duration: 1s;
    }

    & .colour-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 12.5rem;
        border: 2px solid var(--text-color);
        height: 12.5rem;
        animation-name: rising-anim;
        animation-duration: 1s;

        & p{
            font-weight: bold;
        }
    }
}

@keyframes title-falling-anim {
    from {
        opacity: 0; 
        margin-top: -3rem; 
    }
    to {
        opacity: 1;
        margin-top: 3rem;
    }
}

@keyframes input-container-falling-anim {
    from {
        opacity: 0; 
        margin-top: -3rem; 
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes rising-anim {
    from {
        opacity: 0; 
        margin-top: 1rem; 
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}