:root{
    color-scheme: light dark;
    --text-color: light-dark(rgb(24, 24, 24), snow);
    --background-color: light-dark(rgb(235, 235, 235), rgb(31, 31, 31));
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: var(--background-color);
}

main{
    
}

h1{
    font-size: 3rem;
}

input{
    cursor: pointer;
}

button{
    cursor: pointer;
}

.colour-input-container{
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 0.5vw;

    & label{
        display: flex;
        flex-direction: column;
    }
}
