:root{
    color-scheme: light dark;
    --text-color: light-dark(rgb(24, 24, 24), white);
    --background-color: light-dark(rgb(243, 243, 243), rgb(31, 31, 31));
    --input-color: light-dark(rgb(218, 218, 218), rgb(53, 53, 53));
    --input-hover-color: light-dark(rgb(209, 209, 209), rgb(70, 70, 70));
    --button-active-color: light-dark(rgb(199, 199, 199), rgb(97, 97, 97));
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body{ background-color: var(--background-color); }

main{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

h1{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: clamp(3rem, 3vw + 1rem, 6rem);
    animation-name: title-falling-anim;
    padding-inline: 1rem;
    animation-duration: 1s;
}

button{ cursor: pointer; }

.colour-input-container{
    animation-name: input-container-falling-anim;
    animation-duration: 1s;
    padding: 0 1rem;
    text-align: left;

    & label{ font-size: 1.1em; }

    & div{
        margin-top: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.2rem;

        & input{
            cursor: pointer;
            padding: 0.5rem;
            font-size: 1.2em;
            border: none;
            background-color: var(--input-color);
            border-radius: 2.5px;
            transition: 0.1s;
            width: clamp(20rem, 40vw, 30rem);
            
            &:hover{ background-color: var(--input-hover-color); }
            &:focus{
                outline: none;
                background-color: var(--button-active-color);
            }
        }

        & button{
            border: none;
            border-radius: 2.5px;
            background-color: var(--input-color);
            font-size: 1.2em;
            font-weight: bold;
            padding: 0.5rem 1.1rem;
            transition: 0.1s;

            &:hover{ background-color: var(--input-hover-color); }
            &:active{ background-color: var(--button-active-color); }
        }
    }
}

.result-container{
    display: flex;
    justify-content: center;
    width: 100%;

    & .message-text{
        max-width: 15rem;
        text-align: center;
        font-size: 1.2em;
        margin-top: 3rem;
    }

    & .error-message{ 
        animation-name: rising-error-anim;
        animation-duration: 1s;
        border-radius: 5px;
        border: 2px solid red;
        background-color: rgb(230, 182, 182);
        color: red; 
        padding: 10px 15px;
    }

    & h2{
        text-align: center;
        font-size: 2rem;
        padding: 2rem 0 1rem 0;
        animation-name: rising-anim;
        animation-duration: 1s;
    }

    & .colour-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        aspect-ratio: 1 / 1;
        width: clamp(17.5rem, 17.5vw, 30rem);
        border: 2px solid var(--text-color);
        animation-name: rising-anim;
        animation-duration: 1s;

        & p{ 
            font-weight: bold;
            font-size: 1.2rem; 
        }
    }
}

@keyframes title-falling-anim {
    from {
        opacity: 0; 
        margin-top: -3rem; 
    }
    to {
        opacity: 1;
        margin-top: 3rem;
    }
}

@keyframes input-container-falling-anim {
    from {
        opacity: 0; 
        margin-top: -3rem; 
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes rising-error-anim {
    from {
        opacity: 0; 
        margin-top: 7rem; 
    }
    to {
        opacity: 1;
        margin-top: 3rem;
    }
}

@keyframes rising-anim {
    from {
        opacity: 0; 
        margin-top: 3rem; 
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}