:root{
    color-scheme: light dark;
    --text-color: light-dark(rgb(24, 24, 24), white);
    --background-color: light-dark(rgb(235, 235, 235), rgb(31, 31, 31));
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: var(--background-color);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

button{
    cursor: pointer;
}

.colour-input-container{
    & label{
        font-size: 1.1em;
    }

    & div{
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        & input{
            cursor: pointer;
            padding: 0.15rem 0.5rem;
            font-size: 1.15em;
            width: 15rem;
        }

        & button{
            font-size: 1.15em;
            padding: 0.15rem 1rem;
        }
    }
}

.message-text{
    max-width: 10rem;
    margin: 5rem 0;
}

.error-message{
    color: red;
}